{% extends "base.html" %}

{% block title %}Beleflix | Búsqueda{% endblock %}

{% block content %}

<nav id="nav">
	<ul>
		<li><a href="/">Introducción</a></li>
		<li><a href="/busqueda" class="active">Búsqueda</a></li>
        <li><a href="#first">Contacta conmigo</a></li>
	</ul>
</nav>

<div id="main">
	<section id ="first" class="main">
		<form action="/busqueda" method="post">
			Título:<br>
			<input type="text" name="titulo" value="Inserta un título aquí"><br>
			<input type="submit" value="Buscar"><br>
		</form>
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>{{ titulo }}</h2>
				</header>
			</div>
		</div>
	</section>
</div>

{% endblock %}