{% extends "base.html" %}

{% block title %}Beleflix | Búsqueda{% endblock %}

{% block content %}

<nav id="nav">
	<ul>
		<li><a href="/">Introducción</a></li>
		<li><a href="/busqueda" class="active">Búsqueda</a></li>
        <li><a href="#first">Contacta conmigo</a></li>
	</ul>
</nav>

<div id="main">
	<section id ="first" class="main">
		<form action="">
			Nombre:<br>
			<input type="text" name="titulo" value="Inserta un título aquí"><br>
			<input type="submit" value="Buscar"><br>
			<input type="radio" name="pos" value="pelis" checked>Películas<br>
			<input type="radio" name="pos" value="series">Series

		</form>
		<div class="spotlight">
			<div class="content">
			</div>
		</div>
	</section>
</div>

{% endblock %}