{% extends "base.html" %}

{% block title %}Beleflix | Búsqueda{% endblock %}

{% block content %}

<nav id="nav">
	<ul>
		<li><a href="/">Introducción</a></li>
		<li><a href="#busqueda" class="active">Búsqueda</a></li>
		<li><a href="#first">Contacta conmigo</a></li>
	</ul>
</nav>

<div id="main">
	<section id ="busqueda" class="main">
	{% if error %}
	<div class="danger">
		<p><strong>{{ error }}</strong></p>
	</div>
	{% endif %}
		<form action="/busqueda" method="post">
			Título:<br>
			<input type="text" name="titulo"><br>
			<input type="radio" name="tipo" value="pelis"> Películas<br>
			<input type="radio" name="tipo" value="series"> Series<br><br>
			<input type="submit" value="Buscar"><br>
		</form>
		<div class="spotlight">
			<div class="content">
				<header class="major">
					{% for i in datos %}
					<a href
				</header>
			</div>
		</div>
	</section>
</div>

{% endblock %}