{% extends "base.html" %}

{% block title %}Beleflix | Resultado{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav id="nav">
	<ul>
		<li><a href="/">Introducción</a></li>
		<li><a href="/busqueda" class="active">Búsqueda</a></li>
	</ul>
</nav>

<div id="main">
	<section id ="resultado" class="main">
		<div class="imagen">
			<img src="https://image.tmdb.org/t/p/w300{{ datos['poster'] }}" alt="Poster">
		</div>
		{% if error %}
		<div class="danger">
			<p><strong>{{ error }}</strong></p>
		</div>
		{% endif %}
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h1><strong>{{ datos['titulo'] }}</strong> ({{ datos['año'] }})</h1>
					<h3>{{ cast }}</h3>
					{% if tipo != "pelis" %}
					<h3><strong>Cadena:</strong> {{ datos['cadena'] }}</h3>
					<h3><strong>Estado:</strong> {{ datos['estado'] }}</h3>
					{% endif %}
					<span class="fa fa-star checked"></span><span> {{ datos['rating'] }} ({{ datos['votos'] }} votos)</span>
					<h3><strong>Género:</strong> {{ datos['generos'] }}</h3>
					<p>{{ datos['sinopsis'] }}</p>
					{% if tipo != "pelis" %}
					<h3>Temporadas:</h3>
					<ul>
					{% for i in datos['temporadas'] %}
					<li>{{ i }}</li>
					{% endfor %}
					</ul>
					{% endif %}
					<h4><strong>Productora(s):</strong> {{ datos['compañias'] }}</h4>
					<a href="{{ datos_sp['url'] }}">{{ datos_sp['nombrepl'] }}</a><br>
					<a href="/relacionados">Buscar {% if tipo = "pelis" %}pelis{% else %}series{% endif %} relacionadas</a>
				</header>
			</div>
		</div>
	</section>
</div>

{% endblock %}