{% extends "base.html" %}

{% block title %}Beleflix | Spotify{% endblock %}

{% block content %}

<!-- Nav -->
<nav id="nav">
	<ul>
		<li><a href="/">Introducción</a></li>
		<li><a href="/busqueda">Búsqueda</a></li>
        <li><a href="/spotify" class="active">Login con Spotify</a></li>
	</ul>
</nav>

<div id="main">
	<section id="first" class="main">
		<h1>Spotify</h1>
		<form action="/perfil_spotify">
    		<input type="submit" value="spotify">Haz login en Spotify para poder realizar búsquedas de BSO
		</form>
	</section>
</div>

{% endblock %}